.sidebar_ChatScreen{
    flex: 1;
}

.ChatContainerMain{
    flex:2.7;
}

.MainChatContainer{
    display: flex;
}

.chat {
    display: flex;
    flex-direction: column;
    height: 87.5vh;
}

.chat_header {
    padding: 20px;
display: flex;
align-items: center;
box-shadow: 6px 8px 30px #02038254;
border-radius: 8px;
}

.chat_headerInfo {
    flex: 1;
    padding-left: 20px;
}

.chat_headerInfo>h3 {
    margin-bottom: 3px;
    font-weight: 500;
}

.chat_headerInfo>p {
    color: gray;
}

.chat_body {
    flex: 1;
    /* background-image: url("./whatsappBackground.png");
    background-repeat: repeat;
    background-position: center; */
    padding: 30px;
    overflow: auto;
}

.chat_message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.chat_timestamp {
    margin-left: 10px;
    font-size: xx-small;
}

.chat_name {
    position: absolute;
top: -15px;
font-weight: 800;
font-size: xx-small;
min-width: max-content;
right: 4px;
}
.chat_name_myself {
    position: absolute;
top: -15px;
font-weight: 800;
font-size: xx-small;
min-width: max-content;
left: 4px;
}



.chat_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgrey;
}

.chat_footer > .sendControl {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px 10px;
}

.sendControl > textarea {
    flex: 0.90;
    resize:none;
    border-radius: 38px;
    border: none;
    outline-style: none;
    padding: 0px 15px;
}

.sendControl > .buttonContainer{
 flex: 0.10;
 margin: 10px 30px;
}
.buttonContainer > button:hover{
    background-color: transparent;
}
.buttonContainer > button{
    /* color: white; */
    background-color: transparent;
    color: #0000a7;
    height: 30px;
    width: 70px;
    border: none;
}
.buttonContainer > button > .material-icons{
    font-size: 30px;
}
.chatSender{
    margin-left:   auto ;
}

@media screen and (max-width:430px) {
    .sidebar_ChatScreen{
        flex: 1;
    }
    .ChatContainerMain{
        display: none;
    }
    /* .sidebar_ChatScreen:hover{
        flex: 0.0;
        display: none;
    }.ChatContainerMain{
        flex: 1;
    } */
}