.mainPage{
    display: flex;
    justify-content: center;
    padding: 10px;
}
@media screen and (min-width:769px) {
    .Left{
        flex:0.33;
        padding: 25px 10px;
    }
    .mainPage > main{
        flex: 1;
    }
    .Right{
        flex: 0.33;
        padding: 10px 25px ;
    }
}
@media screen and (min-width:1300px) {
    .Left{
        flex:0.33;
        padding: 25px 10px;
    }
    .Right{
        flex: 0.33;
        padding: 10px 25px ;
    }
    .mainPage > main{
        flex: 1;
    }
}
.mainPage > main{
    height: 100%;
    width: 600px;
    flex: 1;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-direction: column;
}
@media screen and (max-width:1022px) {
 
.Right{
    display: none;
}
.Left{
    display: none;
}   
}
.Image > img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #fff;
    margin: 0px 5px;
}

.jobLeft{
    display: flex;
}
.Detail{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}
.Detail > h4{
    font-size: 10px;
    margin-bottom: 0px;
}
.Detail > h6{
    font-size: 9px;
    margin-bottom: 0px;
}

.Detail > div > p{
    color: #aaa;
    font-size: 10px;
    margin-bottom: 0px;
}
.Detail > div{
    margin-bottom: 0px;
}
.jobRight > p{
    font-size: 10px;
    color: #aaa;
}
.mainElement{
    height: 100%;
    /* width: 600px; */
    width: 1150px;
    background-color: #fff;
    padding: 10px;
}

@media screen and (max-width: 429px) {
    
.mainElement{
    height: 100%;
    width: 600px;
    /* width: 1150px; */
    background-color: #fff;
    padding: 10px;
}
.mainContent{
    display: flex;
    flex-direction: column;
}

}
.jobNav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaa;
}
.jobNavleft > div> h4{
    font-weight: 500;
    font-size: 20px;
}
.jobNavleft > div> h6{
    font-weight: 400;
    color: #aaa;
    font-size: 12px;
}

.jobNavleft , .jobNavright {
    margin-bottom: 10px;
}
.mainContent{
    display: flex;
    /* flex-direction: column; */
}
.jobHighlight > p,.DetailJob > p{
        white-space: pre-wrap;
        font-size: 14px;
}       
.DetailJob{
    padding: 10px 0px;
}
.jobHighlight > p {
    display: flex;
    align-items: center;
}
.jobHighlight > p > span{
        font-size: 30px;
        margin: 15px 5px;
        color: #aaa;
}
.jobHighlight{
    padding: 10px 10px;
    border-bottom: 1px solid #aaa;
}
.jobHighlight > button {
    height: 40px;
    width: 150px;
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid black;
    margin: 10px 0px;
}
.jobHighlight > button:hover{
    background-color: #aaa;
}