
#uploadSectionBatchThumbnail{
    cursor: pointer;
}
#uploadSectionBatchThumbnail > img{
    width: 450px;
    height: 450px;
}

#uploadSectionBatchThumbnail > span{
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(126, 126, 126);
    font-size: 20px;
}
#uploadSectionBatchThumbnail > span > i{
    background-color: rgb(126, 126, 126);
}
#uploadSectionBatchThumbnail > span > p{
    background-color: rgb(126, 126, 126);
}
input{
    background-color: none;
    border-bottom: 2px solid #f1f5f9;
    border-top: none;
    border-left: none;
    border-right: none;
    outline-width: 0px;
}
.actionSectionBatch{
    justify-content: space-around;
    display: flex;
}
#mainPage{
    background-color: #fff;
    padding: 60px 10px;
}