.app {
  background-color: #f1f2f5;
  width: fit-content;
  min-width: 100vw;
}
 .colorBlue{
  color: #0000a7 !important;
 }
a {
  color: black;
  text-decoration: none;
}

.app_body {
  display: flex;
}
.bc-white{
  background-color: #fff;
}
.bc-gray{
  background-color: #8d8d8d;
}
.c-white{
  background-color: #fff;
}
.c-gray{
  color: #8d8d8d;
}
.close-button {
  align-self: center;
  padding: 0;
  background: transparent;
  font-size: 1.6rem;
  color: #666;
}

.share-button-wrapper {
  padding: 10px 20px;
  background: #ddd;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
  cursor: pointer;
}

.share-modal {
  position: absolute;
  z-index: 99999999;
  width: 80%;
  left: 30px;
  bottom: 40px;
  max-width: 400px;
  box-shadow: 0 0 5px #eee;
  transform: translateY(-200%);
  transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.share-modal.opened {
  background: #fff;
  transform: translateY(0%);
}

.modal-header,
.modal-body,
.modal-footer {
  display: flex;
  padding: 20px;
}

.modal-header {
  justify-content: space-between;
  padding: 15px 20px;
}

.modal-title {
  align-self: center;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-size: 0.9rem;
  color: #666;
}

.modal-body {
  flex: 1;
  display: grid;
  grid-gap: 20px;
}

.modal-body>.row {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.modal-body>.row>div {
  align-self: center;
  justify-self: center;
  width: 100%;
}

.modal-body>.row>div>button {
  height: 35px;
  width: 100%;
  padding: 0 25px;
  background: transparent;
  color: #888;
  border: 1px solid #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
  cursor: pointer;
}

.modal-footer-link {
  align-self: center;
  background: #eee;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 4px;
  text-transform: lowercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-footer-button {
  flex: 1 0 auto;
  text-transform: uppercase;
  color: #fff;
  background: #ff008d;
  font-weight: 600;
}

.hrFrominput {
  border-radius: 10px;
  outline-width: 0px;
  background-color: rgba(123, 123, 123, 0);
  height: 40px;
  box-shadow: 5px 7px 25px #e8e0e0;
  margin: 10px 3px;
  padding: 0px 10px;
}
.hrFrominput:focus-visible {
  border: none !important;
  outline: none;
}
.hrFrominput:focus {
  border-radius: 10px;
  outline-width: 0px;
  background-color: rgba(123, 123, 123, 0);
  height: 40px;
  box-shadow: 5px 7px 25px #bdbdbd;
  margin: 10px 3px;
  padding: 0px 10px;
  transition: 0.6s linear;
}

.material-icons,
p {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}
h4,h3{
  font-size: 12px;
}
main::-webkit-scrollbar{
  display:none;
}
main::-webkit-scrollbar{
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;
}
p{
  margin-bottom: 0;
}
.show{
  z-index: 9999;
}
.profileControllers > button{
  font-size: 14px;
}